<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="sqlcrud" version="3.0">
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>es.jdl.sqlcrud.services.ResourceServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AllTablesDefServlet</servlet-name>
        <servlet-class>es.jdl.sqlcrud.services.AllTablesDefServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TableColumnsDefServlet</servlet-name>
        <servlet-class>es.jdl.sqlcrud.services.TableColumnsDefServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/admin/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AllTablesDefServlet</servlet-name>
        <url-pattern>/admin/def/all</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TableColumnsDefServlet</servlet-name>
        <url-pattern>/admin/def/*</url-pattern>
    </servlet-mapping>
    
    <listener>
        <listener-class>es.jdl.sqlcrud.services.CRUDConfigContextListener</listener-class>
    </listener>

</web-app>